<!--
  Generated template for the PushPopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PushPop</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button [navPush]="me">Push!</button>
  <button ion-button navPop>Pop!</button>

  <ion-list>
    <button ion-item *ngFor="let user of data" [navPush]="pushPopDetail" [navParams]="user.id">
      Name: {{user.name}}
      Age: {{user.age}}
      Gender: {{user.gender}}
    </button>  
  </ion-list>

</ion-content>
